* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 290px;
  height: 165px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0;
  background-color: rgb(0, 213, 255);
  text-align: center;
  color: rgb(0, 0, 0);
}

p {
  text-align: left;
  padding: 10px;
}

footer {
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(48, 48, 48);
  color: white;
}
