


.me_encanta {
    display: flex;
    align-items: center;
    width: 600px;
    height:200px;
    border: dotted black;
    background-color: blueviolet;
    margin: 0%;
    position: absolute;
    top: 50%;
left: 50%;
transform: translate(-50%, -50%);}

.texto{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 1200;
}
