/* You can add global styles to this file, and also import other style files */

:root {
  box-sizing: border-box;

  /* Colors | 1 */

  --bg-50: #f3f7fc;
  --bg-100: #e6eff8;
  --bg-200: #c7def0;
  --bg-300: #95c2e4;
  --bg-400: #5da3d3;
  --bg-500: #3887bf; /* Primary */
  --bg-600: #286ba1;
  --bg-700: #215683;
  --bg-800: #1f4a6d;
  --bg-900: #1f3f5b;
  --bg-950: #14293d;

  /* Colors | 2 */

  --bg2-50: #fffeeb;
  --bg2-100: #fffcc6;
  --bg2-200: #fff888;
  --bg2-300: #ffef4a;
  --bg2-400: #ffe120;
  --bg2-500: #f8c106; /* Secudary */
  --bg2-600: #dd9702;
  --bg2-700: #b76d06;
  --bg2-800: #94530c;
  --bg2-900: #7a450d;
  --bg2-950: #462402;

  /* SCROLL */

  scrollbar-width: thin;

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Estilo del thumb en Firefox */
  ::-moz-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  ::-moz-scrollbar {
    width: 5px;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-50);
}

app-root {
  color-scheme: dark light;
  font-family: "Poppins", sans-serif;

  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  width: 100%;
  height: 100%;
}
