ul {
  transition: all ease 300ms;
  font-size: 30px;
  border: 5px solid var(--bg-700);
}

section.theme ul {
  background-color: var(--bg-200);
  border: 5px solid var(--bg-400);
  font-weight: 600;
}

section.theme ul li::marker {
  color: yellow;
}

li::marker {
  color: red;
}

button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--bg-500);
  color: white;
  font-weight: 500;
  transition: transform ease-in-out 300ms;
}

button:hover {
  transform: translateY(-1px);
  background-color: var(--bg-400);
  cursor: pointer;
}
