/* You can add global styles to this file, and also import other style files */

:root {
  box-sizing: border-box;

  --bg-50: #f2f5fc;
  --bg-100: #e2e9f7;
  --bg-200: #cbd9f2;
  --bg-300: #a7c1e9;
  --bg-400: #7da1dd;
  --bg-500: #5f82d2;
  --bg-600: #4b68c5;
  --bg-700: #4055b2; /* Color Primario */
  --bg-800: #3a4893;
  --bg-900: #333f75;
  --bg-950: #232848;

  scrollbar-width: thin;

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Estilo del thumb en Firefox */
  ::-moz-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  ::-moz-scrollbar {
    width: 5px;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-50);
  transition: all 300ms linear;
}

app-root {
  color-scheme: dark light;
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  gap: 10px;

  width: 100%;
  height: 100%;
}
