
  table {
    border-collapse: collapse;
    width: 40%;
    margin: auto;
  }

  th, td {
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #020202;
  }
  th {color: white}

  tr:nth-child(even) {
    background-color: #ffffff;
  }

  
  
  


