<header>
  <div class="icon"><i class="fa-solid fa-fire"></i></div>

  <nav class="main_nav">
    <ul class="main_menu">
      <li class="menu_items">
        <a
          class="menu_link"
          [routerLink]="['/routePath']"
          routerLinkActive="router-link-active"
        >
          <i class="fa-solid fa-house"></i>
          Home</a
        >
      </li>
      <li class="menu_items">
        <a
          class="menu_link"
          [routerLink]="['/routePath']"
          routerLinkActive="router-link-active"
        >
          <i class="fa-solid fa-bacon"></i>
          Products
        </a>
      </li>
      <li class="menu_items">
        <a
          class="menu_link"
          [routerLink]="['/routePath']"
          routerLinkActive="router-link-active"
        >
          <i class="fa-regular fa-file-lines"></i>
          About Us</a
        >
      </li>
    </ul>
  </nav>
</header>
