<div class="container-main">
  <section class="index-main">
    <h1>Dashboard</h1>

    <div class="container-info">
      <div class="box-info box1">
        <span class="num-info">15</span>
        <span>Requests Proce...</span>
      </div>
      <div class="box-info box2">
        <span class="num-info">30</span>
        <span>Licenses Issued</span>
      </div>
    </div>
  </section>

  <!-- hardware-section__1 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Status</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>

  <!-- hardware-section__2 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Category</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>
  <!-- hardware-section__1 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Status</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>

  <!-- hardware-section__2 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Category</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>
  <!-- hardware-section__1 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Status</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>

  <!-- hardware-section__2 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Category</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>
  <!-- hardware-section__1 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Status</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>

  <!-- hardware-section__2 -->

  <div class="hardware-section__1 section-hardware">
    <span>Statistics by Hardware Category</span>
    <div class="container-chart">
      <div class="pie-chart"></div>
      <div class="info-chart">
        <div class="box-info___chart">
          <div class="box_chart info-1">15</div>
          Assigned
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-2">8</div>
          In-repair
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-3">15</div>
          Ordered
        </div>
        <div class="box-info___chart">
          <div class="box_chart info-4">14</div>
          Pending
        </div>
      </div>
    </div>
  </div>
</div>
