<div class="container mt-3">
    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary" (click)="openModel()">Agregar dato</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Contenido</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @for (item of datos; track item.id) {
                <tr>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        {{ item.body }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" (click)="loadDato(item)">Editar</button>
                        <button type="button" class="btn btn-link" (click)="deleteMethod(item.id!)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-inicio-form (onCloseModel)="closeModel()" [data]="dato"></app-inicio-form>
</app-model>