* {
    font-family: sans-serif;

}

h1 {
    color: blue;
    text-align: center;
    text-decoration: underline;
}

p{
    color: blue;
    text-align: left;
}

.other {
    text-align: right;
    color: red;
}