<header class="header header_1">
  <span class="title-header_1">Personal Trainer</span>

  <nav>
    <span>Tob Nav</span>
    <span class="fw-500">History</span>
  </nav>
</header>
<header class="header header_2">
  <nav class="main-nav">
    <ul class="menu">
      <li>
        <a class="menu-link" href="">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a class="menu-link" href="">
          <i class="fas fa-plus"></i>
          New Workout
        </a>
      </li>
      <li>
        <a class="menu-link" href="">
          <i class="fas fa-plus"></i>
          New Exercise
        </a>
      </li>
    </ul>
  </nav>
  <div class="header_1-container">
    <span>Sub Nav</span>
  </div>
</header>
