<div class="container-aside">
  <div class="brands">
    <div class="brands_icon"><i class="fa-solid fa-umbrella"></i></div>
    <div class="brands_title ShowNone">
      Asset <span class="yellow">Management</span>
    </div>
    <div class="border"></div>
  </div>

  <nav class="main-nav__aside">
    <ul class="main-menu">
      <li class="menu-item">
        <a href="" class="menu-link">
          <span class="data-icons"><i class="fa-solid fa-gauge-high"></i></span>
          <span class="data-text ShowNone">DashBorad</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <span class="data-icons"><i class="fa-solid fa-microchip"></i></span>
          <span class="data-text ShowNone">Hardware</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <span class="data-icons"
            ><i class="fa-solid fa-compact-disc"></i
          ></span>
          <span class="data-text ShowNone">Software</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <span class="data-icons"> <i class="fa-solid fa-award"></i> </span
          ><span class="data-text ShowNone"> Issued Licensese </span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link"
          ><span class="data-icons"
            ><i class="fa-solid fa-share-from-square"></i></span
          ><span class="data-text ShowNone">Requests </span>
          <div class="element-new">10 New</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link"
          ><span class="data-icons"
            ><i class="fa-solid fa-circle-info"></i></span
          ><span class="data-text ShowNone">About</span></a
        >
      </li>
    </ul>
  </nav>
</div>
