header {
  position: relative;
  background-color: var(--bg-700);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #ffffff;
  font-size: 1.3em;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
}

.menu-link:hover {
  color: var(--bg-50);
}

.container-menu_bars {
  display: none;
}

.main-nav {
  transition: transform 300ms ease-in;
}

@media only screen and (max-width: 750px) {
  .container-menu_bars {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg-700);
    transform: translateX(-100%);
  }

  .main-nav.open {
    transform: translateX(0);
  }

  .menu {
    flex-direction: column;
    gap: 20px;
  }
}
